This is your assignment on conditional statement and looping

**Problem-1**<br>
Write a small program to check a number is divisible by 7 or not

In [ ]:
a=int(input("enter a number"))
if a%7==0:
  print("given number is divisible by 7")
else:
  print("given number is not divisible by 7")

enter a number49
given number is divisible by 7

**Problem-2**<br>
If a number is divisible by either 5 or 7, then we will call it a 'five-or-seven' number.<br> 
Write down a program to check if a number is 'five-or-seven' number or not.

In [ ]:
a=int(input("enter a number"))
if a%5==0 or a%7==0:
  print("given number is divisible by 5 or 7 , we will call it a 'five-or-seven' number.")
else:
  print("given number is not divisible by 5 or 7, we will not call it a 'five-or-seven' number.")

enter a number953
given number is not divisible by 5 or 7, we will not call it a 'five-or-seven' number.

**Problem-3**<br>
Write a program to calculate the electricity bill (accept number of unit from user) according to the following criteria:<br>  
Upto first 100 units Rs. 3 per unit.<br>
Next 100 units Rs. 5 per unit.<br>
Next 300 units Rs. 7 per unit.<br>
Above that, for each unit exceeding 500, Rs. 10 per unit flat.<br>

In [ ]:
a=int(input("past electric unit"))
b=int(input("present electric unit"))
units=b-a
print("units =",units)
if (units<=100):
      first= units*3
      print(first)
elif (units>100 and units<=200):
      sec=((100*3)+(units-100)*5)
      print(sec)
elif (units>200 and units<=500):
      th=((100*3)+(100*5)+(units-200)*7)
      print(th)
elif (units>500):
      n=((100*3)+(100*5)+(300*7)+(units-500)*10);
      print(n)

past electric unit500
present electric unit790
units = 290
1430

**Problem-4**<br>
Find out sum of square of all the numbers upto 10, starting from 1

In [2]:
n=10
a=0
for i in range (1,n+1):
    a=a+(i**2)
print(a)

385

**Problem-5**<br>
Find out sum of square of all the even numbers upto 10, starting from 1

In [5]:
a=0
for i in range (1,5):
    a=a+((2*i)**2)
print(a)

120

**Problem-6**<br>
Check a number is prime or not

In [6]:
a=int(input('Enter a number:'))
n=0
for i in range(2,a):
    if(a%i==0):
      n=1
if (a==0):
    print(a,"given no is a Prime Number")
else:
    print(a," given no is not a Prime Number'")

Enter a number:345
345  given no is not a Prime Number'

**Problem-7**<br>
Print multiplication table upto 10 starting from 1

In [10]:
a=int(input('Enter a number:'))
for i in range(1,11):
    mul=a*i
    print(a,'*',i,'=',mul)

Enter a number:100
100 * 1 = 100
100 * 2 = 200
100 * 3 = 300
100 * 4 = 400
100 * 5 = 500
100 * 6 = 600
100 * 7 = 700
100 * 8 = 800
100 * 9 = 900
100 * 10 = 1000

**Problem-8**<br>
Print the series of first n fibonacci numbers

In [9]:
a=int(input('Enter a number'))
f1=0
f2=1
print(f1)
print(f2)
for i in range(3,a+1):
    f3=f1+f2
    print(f3)
    f1=f2
    f2=f3

Enter a number20
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181